<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/about.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet">
</head>
<body>
	<div class="header">
		<div class="flex-container"> 
			<div class="work">
				<button class="dropbtn">Work</button>
				<div class="dropdown-content">
					<a href="../templates/njn.html">N.J.N Logo</a>
					<a href="../templates/theater.html">Welcome to the Theater</a>
					<a href="../templates/drawings.html"> Pencil Drawings</a>
					<a href="../templates/lizrd.html"> Lizrd Concept Design</a>
					<a href="../templates/pavilion.html">Zen Pavilion</a>
					<a href="../templates/photos.html">Photography</a>
				</div>
			</div>
		</div>

		<div class="home">
			<a href="../index.html">Jessica Nosal</a></div>
		<div class="about"><a href="../templates/about.html"> About</div>
	</div>

	<div class="bioPhoto">
		<img src="../media/me.jpg" alt="Jess with statues">
	</div>
	
	<div class="section-title" id="me"> Here's a little bit about me!</div>

	<div class="bio"> 
		<p>I am a recent graduate from Fordham University with a degree in New Media and Digital Design with a concentration in Art, Text, and Design with a minor in Economics.
		<br>
		<br>
		I've mainly practiced pencil drawing, and now I am exploring different digital mediums for design while I have the opportunity. I draw inspiration from everything I enjoy: from outer space, from theater, from my pets, etc. Please Enjoy! :)</p>
	</div>
</body>
</html>