<!DOCTYPE html>
<html>
<head>
	<title>Drawings</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/drawings.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/drawings.js"></script>
</head>
<body>
	<div class="header">
		<div class="flex-container"> 
			<div class="work">
				<button class="dropbtn">Work</button>
				<div class="dropdown-content">
					<a href="../templates/njn.html">N.J.N Logo</a>
					<a href="../templates/theater.html">Welcome to the Theater</a>
					<a href="../templates/drawings.html"> Pencil Drawings</a>
					<a href="../templates/lizrd.html"> Lizrd Concept Design</a>
					<a href="../templates/pavilion.html">Zen Pavilion</a>
					<a href="../templates/photos.html">Photography</a>
				</div>
			</div>
		</div>
			<div class="home">
				<a href="../index.html">JESSICA NOSAL</a></div>
			<div class="about"> 
				<a href="../templates/about.html">About</a>
			</div>
		</div>
	</div>

	<div class=section-title>Pencil Drawings</div>

	<button class="info"><img src="../media/icon3.png" alt="info icon"></button>
	<div class="description">
		Prior to digital design, I practiced pencil drawing. These are some of my most recent works.
	</div>



	<div class="slideshow-container">
			<div class="sectionSlides fade">
				<img src="../media/drawings/space.jpg" alt="colored drawing of an astronaut with a psychadellic background"  id="space">
			</div>
			<div class="sectionSlides fade">
				<img src="../media/drawings/clock.jpg" alt="clock and roses drawing" id="clock">
			</div>
			<div class="sectionSlides fade">
				<img src="../media/drawings/roses.jpg" alt="roses drawing" id="roses">
			</div>
			<div class="sectionSlides fade">
				<img src="../media/drawings/tiger.jpg" alt="tiger face drawing" id="tiger">
			</div>


		<!-- next and previous buttons -->
		<a class="prev">&#10094;</a>
		<a class="next">&#10095;</a>

		<!-- dots -->
		<div class="dots">
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
		</div>
	</div>



</body>
</html>