<!DOCTYPE html>
<html>
<head>
	<title>Lizrd Concept Design</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/lizrd.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/lizrd.js"></script>
</head>
<body>
	<div="header">
		<div class="flex-container"> 
			<div class="work">
				<button class="dropbtn">Work</button>
				<div class="dropdown-content">
					<a href="../templates/njn.html">N.J.N Logo</a>
					<a href="../templates/theater.html">Welcome to the Theater</a>
					<a href="../templates/drawings.html"> Pencil Drawings</a>
					<a href="../templates/lizrd.html"> Lizrd Concept Design</a>
					<a href="../templates/pavilion.html">Zen Pavilion</a>
					<a href="../templates/photos.html">Photography</a>
				</div>
			</div>
		</div>
			<div class="home">
				<a href="../index.html">JESSICA NOSAL</a></div>
			<div class="about"> 
				<a href="../templates/about.html">About</a>
			</div>
		</div>
	</div>

	<div class="section-title">Lizrd Concept Design</div>

	<div class="description">Recently, I created a simplistic concept design for the new Lizrd app created by comedian Liz Miele.</div>
	<button class="info"><img src="../media/icon3.png" alt="info icon"></button>
	<div class="photo-container">
		<img src="../media/logos/lizrd.png" alt="logo of a green lizard with the word LIZRD " id="lizrd">
	</div>



</body>
</html>