<!DOCTYPE html>
<html>
<head>
	<title>Zen Pavilion</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/pavilion.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/pavilion.js"></script>
</head>
<body>
	<div="header">
		<div class="flex-container"> 
			<div class="work">
				<button class="dropbtn">Work</button>
				<div class="dropdown-content">
					<a href="../templates/njn.html">N.J.N Logo</a>
					<a href="../templates/theater.html">Welcome to the Theater</a>
					<a href="../templates/drawings.html"> Pencil Drawings</a>
					<a href="../templates/lizrd.html"> Lizrd Concept Design</a>
					<a href="../templates/pavilion.html">Zen Pavilion</a>
					<a href="../templates/photos.html">Photography</a>
				</div>
			</div>
		</div>
			<div class="home">
				<a href="../index.html">JESSICA NOSAL</a></div>
			<div class="about"> 
				<a href="../templates/about.html">About</a>
			</div>
		</div>
	</div>
	<div class="section-title">Zen Pavilion</div>
	<button class="info"><img src="../media/icon3.png" alt="info icon"></button>
	<div class="description">Designed to evoke a feeling of tranquility while walking through the structure. All designs are in 1/4 inch scale.</div>

	<div class="slideshow-container">
			<div class="sectionSlides fade">
				<img src="../media/pavilion/zen.jpg" alt="3d color rendering of a zen garden" id="zen">
			</div>
			<div class="sectionSlides fade">
				<img src="../media/pavilion/topview.jpg" alt="wireframe top view of zen garden" id="topview">
			</div>
			<div class="sectionSlides fade">
				<img src="../media/pavilion/sectionview.jpg" alt="wireframe section view of zen garden" id="sectionview">
			</div>
			<div class="sectionSlides fade">
				<img src="../media/pavilion/frontview.jpg" alt="wireframe front elevation view of zen garden" id="frontview">
			</div>

		<!-- next and previous buttons -->
		<a class="prev">&#10094;</a>
		<a class="next">&#10095;</a>

		<!-- dots -->
		<div class="dots">
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>

		</div>
	</div>

</body>
</html>