<!DOCTYPE html>
<html>
<head>
	<title>Photography</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/photos.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/photos.js"></script>
</head>
<body>
	<div="header">
		<div class="flex-container"> 
			<div class="work">
				<button class="dropbtn">Work</button>
				<div class="dropdown-content">
					<a href="../templates/njn.html">N.J.N Logo</a>
					<a href="../templates/theater.html">Welcome to the Theater</a>
					<a href="../templates/drawings.html"> Pencil Drawings</a>
					<a href="../templates/lizrd.html"> Lizrd Concept Design</a>
					<a href="../templates/pavilion.html">Zen Pavilion</a>
					<a href="../templates/photos.html">Photography</a>
				</div>
			</div>
		</div>
			<div class="home">
				<a href="../index.html">JESSICA NOSAL</a></div>
			<div class="about"> 
				<a href="../templates/about.html">About</a>
			</div>
		</div>
	</div>

	<div class="section-title">Photography</div>
	<button class="info"><img src="../media/icon3.png" alt="info icon"></button>
	<div class="description">I really enjoy taking photos of the city skyline, or when the world looks very blue. Either shot with Canon Rebel T6i or iPhone.</div>

<div class="slideshow-container">
			<div class="sectionSlides fade">
				<img src="../media/photos/bluesky.jpeg" alt=" nyc skyline with blue sky" id="bluesky">
			</div>
			<div class="sectionSlides fade">
				<img src="../media/photos/bench.jpeg" alt="a row of benches" id="bench">
			</div>
			<div class="sectionSlides fade">
				<img src="../media/photos/brooklynbridge.jpeg" alt="nyc skyline with freedom tower and Brooklyn Bridge"  id="bridge">
			</div>
			<div class="sectionSlides fade">
				<img src="../media/photos/butterfly.jpg" alt="monarch butterfly on purple flower" id="butterfly">
			</div>
			<div class="sectionSlides fade">
				<img src="../media/photos/freedom.jpg" alt="the freedom tower" id="freedom">
			</div>


		<!-- next and previous buttons -->
		<a class="prev">&#10094;</a>
		<a class="next">&#10095;</a>

		<!-- dots -->
		<div class="dots">
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
		</div>
	</div>

</body>
</html>